In [1]:
import datetime as dt
import numpy as np
import pandas as pd
import sqlalchemy
import json
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect
from flask import Flask, jsonify

In [2]:
# Create a database engine using this string format:
# dialect+driver://username:password@host:port/database
# https://docs.sqlalchemy.org/en/14/core/engines.html

##could not get it to work with config file but got it to work this. 
##Have to re-configure later when I can get help.

dialect = 'postgresql'
username = 'postgres'
password = 'bootcamp2021'
host = 'bootcamp-final-cln.ch1wrcuq3max.us-east-2.rds.amazonaws.com'
database = 'crime'
engine = create_engine(f'{dialect}://{username}:{password}@{host}/{database}')

In [3]:
# list all the tables on the AWS RDS
inspector = inspect(engine)
inspector.get_table_names()

['offense_cat_offender_race_2020',
 'offense_cat_offender_sex_2020',
 'offense_cat_type_2020',
 'offense_cat_victim_age_2020',
 'offense_cat_victim_race_2020',
 'offense_cat_victim_sex_2020',
 'state_pop_agencies_2020',
 'gpd_by_state_2020',
 'state_size',
 'city_lat_long',
 'property_type_crime',
 'violent_type_crime',
 'offense_cat_loc_2020',
 'offense_cat_state_2020',
 'law_enforcement_state_2020',
 'law_enforcement_state_city_2020',
 'offense_cat_type_state',
 'offense_cat_offender_age_2020']

In [4]:
with engine.connect() as conn:
    city_latlong_df = pd.read_sql("SELECT * FROM city_lat_long", conn)

In [5]:
city_latlong_df.head()

         state      capital       lat       long
0      Alabama   Montgomery  32.36681  -86.29997
1      Arizona      Phoenix  33.44840 -112.07400
2     Arkansas  Little Rock  34.74648  -92.28959
3     Colorado       Denver  39.73915 -104.98470
4  Connecticut     Hartford  41.76371  -72.68509

In [6]:
result = city_latlong_df.head().to_json(orient="columns")
parsed = json.loads(result)
json.dumps(parsed, indent=4)

'{\n    "state": {\n        "0": "Alabama",\n        "1": "Arizona",\n        "2": "Arkansas",\n        "3": "Colorado",\n        "4": "Connecticut"\n    },\n    "capital": {\n        "0": "Montgomery",\n        "1": "Phoenix",\n        "2": "Little Rock",\n        "3": "Denver",\n        "4": "Hartford"\n    },\n    "lat": {\n        "0": 32.36681,\n        "1": 33.4484,\n        "2": 34.74648,\n        "3": 39.73915,\n        "4": 41.76371\n    },\n    "long": {\n        "0": -86.29997,\n        "1": -112.074,\n        "2": -92.28959,\n        "3": -104.9847,\n        "4": -72.68509\n    }\n}'

In [7]:
with engine.connect() as conn:
    off_type_person_df = pd.read_sql("SELECT state, offense_type, sum(volume) FROM offense_cat_type_state where offense_type = 'Person' group by state, offense_type", conn)

In [8]:
off_type_person_df

                   state offense_type     sum
0               Colorado       Person   64221
1                   Utah       Person   33720
2         North Carolina       Person  128459
3              Tennessee       Person  144313
4           Rhode Island       Person    9246
5           Pennsylvania       Person     264
6               Michigan       Person  155110
7         South Carolina       Person   94085
8              Minnesota       Person   32600
9                 Kansas       Person   42607
10  District of Columbia       Person    1062
11           Connecticut       Person   27833
12         New Hampshire       Person   14913
13              Nebraska       Person    9247
14               Vermont       Person    3988
15               Georgia       Person   99961
16         West Virginia       Person   14608
17              New York       Person   11872
18               Wyoming       Person    1213
19                 Texas       Person  357801
20                Oregon       Person   38223
21              Missouri       Person   58458
22           Mississippi       Person   16843
23              Delaware       Person   16154
24              Oklahoma       Person   36790
25          South Dakota       Person   13416
26            Washington       Person   78988
27              Kentucky       Person   47887
28              Illinois       Person    5688
29               Alabama       Person    4384
30             Wisconsin       Person   44398
31                  Iowa       Person   30872
32             Louisiana       Person   22995
33                  Ohio       Person  148955
34                Hawaii       Person    9376
35              Virginia       Person   98675
36              Maryland       Person    8176
37               Arizona       Person   18440
38            New Mexico       Person   25958
39                Nevada       Person   25667
40         Massachusetts       Person   68909
41                 Maine       Person    8338
42          North Dakota       Person   10769
43              Arkansas       Person   63893
44               Montana       Person   13630
45               Indiana       Person   55303
46                 Idaho       Person   16972

In [9]:
result = off_type_person_df.head().to_json(orient="columns")
parsed = json.loads(result)
json.dumps(parsed, indent=4)

'{\n    "state": {\n        "0": "Colorado",\n        "1": "Utah",\n        "2": "North Carolina",\n        "3": "Tennessee",\n        "4": "Rhode Island"\n    },\n    "offense_type": {\n        "0": "Person",\n        "1": "Person",\n        "2": "Person",\n        "3": "Person",\n        "4": "Person"\n    },\n    "sum": {\n        "0": 64221,\n        "1": 33720,\n        "2": 128459,\n        "3": 144313,\n        "4": 9246\n    }\n}'

In [10]:
with engine.connect() as conn:
    off_type_property_df = pd.read_sql("SELECT state, offense_type, sum(volume) FROM offense_cat_type_state where offense_type = 'Property' group by state, offense_type", conn)

In [11]:
off_type_property_df

                   state offense_type     sum
0               Arkansas     Property  135509
1               Missouri     Property  149808
2             New Mexico     Property   65205
3            Connecticut     Property   78197
4          New Hampshire     Property   29785
5              Minnesota     Property  126006
6           South Dakota     Property   26791
7                 Kansas     Property   98226
8                Montana     Property   35743
9              Louisiana     Property   46064
10             Wisconsin     Property  117910
11                  Ohio     Property  272856
12               Wyoming     Property    1687
13              Nebraska     Property   19921
14              New York     Property   32635
15                  Utah     Property  111324
16              Michigan     Property  233949
17               Indiana     Property  112587
18         West Virginia     Property   31880
19                 Idaho     Property   33036
20  District of Columbia     Property    1065
21              Delaware     Property   37244
22                  Iowa     Property   84304
23               Vermont     Property   12495
24          Pennsylvania     Property     722
25            Washington     Property  356395
26              Kentucky     Property  119694
27                Oregon     Property  168615
28          Rhode Island     Property   25454
29        South Carolina     Property  208447
30                Hawaii     Property   32730
31                Nevada     Property   45727
32              Colorado     Property  257623
33        North Carolina     Property  332136
34           Mississippi     Property   37173
35         Massachusetts     Property  165200
36             Tennessee     Property  263150
37              Maryland     Property   41063
38                 Texas     Property  785751
39               Georgia     Property  207820
40              Oklahoma     Property  101728
41              Illinois     Property    9018
42                 Maine     Property   16795
43               Arizona     Property   47284
44               Alabama     Property    7981
45              Virginia     Property  220981
46          North Dakota     Property   25555

In [12]:
result = off_type_property_df.head().to_json(orient="columns")
parsed = json.loads(result)
json.dumps(parsed, indent=4)

'{\n    "state": {\n        "0": "Arkansas",\n        "1": "Missouri",\n        "2": "New Mexico",\n        "3": "Connecticut",\n        "4": "New Hampshire"\n    },\n    "offense_type": {\n        "0": "Property",\n        "1": "Property",\n        "2": "Property",\n        "3": "Property",\n        "4": "Property"\n    },\n    "sum": {\n        "0": 135509,\n        "1": 149808,\n        "2": 65205,\n        "3": 78197,\n        "4": 29785\n    }\n}'

In [13]:
with engine.connect() as conn:
    off_type_society_df = pd.read_sql("SELECT state, offense_type, sum(volume) FROM offense_cat_type_state where offense_type = 'Society' group by state, offense_type", conn)

In [14]:
off_type_society_df

                   state offense_type     sum
0          West Virginia      Society   12779
1               Colorado      Society   31282
2               Illinois      Society    1135
3   District of Columbia      Society     408
4              Louisiana      Society   14814
5         North Carolina      Society  100119
6                   Iowa      Society   24306
7                  Texas      Society  155180
8                 Hawaii      Society    3280
9                  Idaho      Society   23704
10                  Utah      Society   39485
11             Minnesota      Society   22778
12                  Ohio      Society   61965
13              Michigan      Society   42974
14              Delaware      Society   12934
15               Wyoming      Society     855
16          Rhode Island      Society    3557
17          North Dakota      Society   12993
18              Maryland      Society    4136
19         New Hampshire      Society    7604
20               Georgia      Society   39015
21              Virginia      Society   74071
22            New Mexico      Society    7893
23                Kansas      Society   30538
24               Arizona      Society   18239
25              Arkansas      Society   35720
26           Mississippi      Society   13881
27              Nebraska      Society    8633
28           Connecticut      Society   10780
29              New York      Society    3124
30             Wisconsin      Society   49165
31              Oklahoma      Society   19795
32              Kentucky      Society   44912
33               Indiana      Society   36414
34               Montana      Society    7558
35               Alabama      Society    3235
36            Washington      Society   30852
37                Oregon      Society   22389
38              Missouri      Society   46084
39             Tennessee      Society   93872
40         Massachusetts      Society   13306
41          Pennsylvania      Society     267
42               Vermont      Society    1397
43                Nevada      Society   11716
44        South Carolina      Society   57106
45          South Dakota      Society   13759
46                 Maine      Society    3170

In [15]:
result = off_type_society_df.head().to_json(orient="columns")
parsed = json.loads(result)
json.dumps(parsed, indent=4)

'{\n    "state": {\n        "0": "West Virginia",\n        "1": "Colorado",\n        "2": "Illinois",\n        "3": "District of Columbia",\n        "4": "Louisiana"\n    },\n    "offense_type": {\n        "0": "Society",\n        "1": "Society",\n        "2": "Society",\n        "3": "Society",\n        "4": "Society"\n    },\n    "sum": {\n        "0": 12779,\n        "1": 31282,\n        "2": 1135,\n        "3": 408,\n        "4": 14814\n    }\n}'