In [8]:
import pandas as pd
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
#from config import conn_params as cp

In [10]:
# Create a database engine using this string format:
# dialect+driver://username:password@host:port/database
# https://docs.sqlalchemy.org/en/14/core/engines.html

##could not get it to work with config file but got it to work this. 
##Have to re-configure later when I can get help.

dialect = 'postgresql'
username = 'postgres'
password = 'bootcamp2021'
host = 'bootcamp-final-cln.ch1wrcuq3max.us-east-2.rds.amazonaws.com'
database = 'crime'
engine = create_engine(f'{dialect}://{username}:{password}@{host}/{database}')

In [19]:
# If your file is small enough, you can load it directly into a pandas dataframe
# If it is larger, you will need to use a pyspark dataframe (see activities from Week 16 Class 1)
df = pd.read_csv('Crime_Offense_Category_by_Loc_2020.csv', index_col = False)

In [20]:
df.head()

                        Location      Offense_Category  Volume
0  Abandoned_Condemned Structure               Assault     757
1  Abandoned_Condemned Structure              Homicide       8
2  Abandoned_Condemned Structure     Human Trafficking       0
3  Abandoned_Condemned Structure  Kidnapping_Abduction      23
4  Abandoned_Condemned Structure                   Sex     130

In [21]:
df.columns

Index(['Location', 'Offense_Category', 'Volume'], dtype='object')

In [23]:
df.head()

                        Location      Offense_Category  Volume
0  Abandoned_Condemned Structure               Assault     757
1  Abandoned_Condemned Structure              Homicide       8
2  Abandoned_Condemned Structure     Human Trafficking       0
3  Abandoned_Condemned Structure  Kidnapping_Abduction      23
4  Abandoned_Condemned Structure                   Sex     130

In [32]:
rows_imported = 0
for data in pd.read_csv('Crime_Offense_Category_by_Loc_2020.csv', chunksize=1000000):

    print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')
    data.to_sql(name='offense_cat_loc_2020', con=engine, if_exists='replace', index=False)
    rows_imported += len(data)

    print(f'Done.')

importing rows 0 to 1058...Done.

In [33]:
rows_imported = 0
for data in pd.read_csv('Crime_Offense_Category_by_State_2020.csv', chunksize=1000000):

    print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')
    data.to_sql(name='offense_cat_state_2020', con=engine, if_exists='replace', index=False)
    rows_imported += len(data)

    print(f'Done.')

importing rows 0 to 1081...Done.

In [ ]:
rows_imported = 0
for data in pd.read_csv('Law_Enforcement_Employees_State_2020.csv', chunksize=1000000):

    print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')
    data.to_sql(name='law_enforcement_state_2020', con=engine, if_exists='replace', index=False)
    rows_imported += len(data)

    print(f'Done.')

In [ ]:
rows_imported = 0
for data in pd.read_csv('Law_Enforcement_Employees_State_City_2020.csv', chunksize=1000000):

    print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')
    data.to_sql(name='law_enforcement_state_city_2020', con=engine, if_exists='replace', index=False)
    rows_imported += len(data)

    print(f'Done.')

In [ ]:
rows_imported = 0
for data in pd.read_csv('Offense_Category_Offender_Age_2020.csv', chunksize=1000000):

    print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')
    data.to_sql(name='offense_cat_offender_age_2020', con=engine, if_exists='replace', index=False)
    rows_imported += len(data)

    print(f'Done.')

In [ ]:
rows_imported = 0
for data in pd.read_csv('Offense_Category_Offender_Race_2020.csv', chunksize=1000000):

    print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')
    data.to_sql(name='offense_cat_offender_race_2020', con=engine, if_exists='replace', index=False)
    rows_imported += len(data)

    print(f'Done.')

In [ ]:
rows_imported = 0
for data in pd.read_csv('Offense_Category_Offender_Sex_2020.csv', chunksize=1000000):

    print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')
    data.to_sql(name='offense_cat_offender_sex_2020', con=engine, if_exists='replace', index=False)
    rows_imported += len(data)

    print(f'Done.')

In [ ]:
rows_imported = 0
for data in pd.read_csv('Offense_Category_Type_2020.csv', chunksize=1000000):

    print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')
    data.to_sql(name='offense_cat_type_2020', con=engine, if_exists='replace', index=False)
    rows_imported += len(data)

    print(f'Done.')

In [ ]:
rows_imported = 0
for data in pd.read_csv('Offense_Category_Victim_Age_2020.csv', chunksize=1000000):

    print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')
    data.to_sql(name='offense_cat_victim_age_2020', con=engine, if_exists='replace', index=False)
    rows_imported += len(data)

    print(f'Done.')

In [ ]:
rows_imported = 0
for data in pd.read_csv('Offense_Category_Victim_Race_2020.csv', chunksize=1000000):

    print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')
    data.to_sql(name='offense_cat_victim_race_2020', con=engine, if_exists='replace', index=False)
    rows_imported += len(data)

    print(f'Done.')

In [ ]:
rows_imported = 0
for data in pd.read_csv('Offense_Category_Victim_Sex_2020.csv', chunksize=1000000):

    print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')
    data.to_sql(name='offense_cat_victim_sex_2020', con=engine, if_exists='replace', index=False)
    rows_imported += len(data)

    print(f'Done.')

In [ ]:
rows_imported = 0
for data in pd.read_csv('State_Pop_Agencies_2020.csv', chunksize=1000000):

    print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')
    data.to_sql(name='state_pop_agencies_2020', con=engine, if_exists='replace', index=False)
    rows_imported += len(data)

    print(f'Done.')