In [8]:
import pandas as pd
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
#from config import conn_params as cp

In [10]:
# Create a database engine using this string format:
# dialect+driver://username:password@host:port/database
# https://docs.sqlalchemy.org/en/14/core/engines.html

##could not get it to work with config file but got it to work this. 
##Have to re-configure later when I can get help.

dialect = 'postgresql'
username = 'postgres'
password = 'bootcamp2021'
host = 'bootcamp-final-cln.ch1wrcuq3max.us-east-2.rds.amazonaws.com'
database = 'crime'
engine = create_engine(f'{dialect}://{username}:{password}@{host}/{database}')

In [11]:
# If your file is small enough, you can load it directly into a pandas dataframe
# If it is larger, you will need to use a pyspark dataframe (see activities from Week 16 Class 1)
df = pd.read_csv('Crime_Offense_Category_by_Loc_2020.csv')

In [7]:
df.head()

                        Location      Offense_Category  Volume
0  Abandoned_Condemned Structure               Assault     757
1  Abandoned_Condemned Structure              Homicide       8
2  Abandoned_Condemned Structure     Human Trafficking       0
3  Abandoned_Condemned Structure  Kidnapping_Abduction      23
4  Abandoned_Condemned Structure                   Sex     130

In [ ]:
with engine.connect() as conn:
    df.to_sql('crime', conn)